<footer>
    <div class="footer">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-md-3 item">
           <ul>
             <li><a href="/index.html">Accueil</a></li>
             <li><a href="/notre-carte.html">Notre carte</a></li>
             <li><a href="/connexion.html">Connexion</a></li>
             <li><a href="/reservation.html" id="btn-R3" type="button" class="btn btn-light btn-lg" >Réservez</a></li>
           </ul>
         </div>
         <div class="col-sm-6 col-md-3">
           <h4 id="horaire">Horaires d'ouverture</h4>
             <p>Du mardi au dimanche</p>
             <p>De 19h30 à 23h30</p>
             <p> <i id="tel" class="bi bi-telephone-fill"></i>04.00.00.00</p> 
             
          </div>
          <div class="col-md-6 item text">
            <a class="navbar-brand" href="index.html">
            <img id="logo-2" src="/img/Logo.png" alt="logo" height="40px"></a>
             <h3>Le Quai-Antique</h3>
               <p>Chaque plat est une rencontre personnelle qui se poursuit au-delà de la table par un environnement préservé et une quiétude cultivée. Réserver une table au Quai-Antique, c’est faire un deuxième voyage.</p>
          </div>
          <p class="p-social">SUIVEZ-NOUS AUSSI ICI</p>
          <div class="col item social"><a href="#"><i class="bi bi-facebook"></i></a><a href="#"><i class="bi bi-twitter"></i></a><a href="#"><i class="bi bi-snapchat">
          </i></a><a href="#"><i class="bi bi-instagram"></i></a>
                 </div>
          </div>
            <p class="copyright">Le Quai-Antique © 2018 - Tous les droits réservés - Thatiane BONNARDEL STUDI
              <a href="https://github.com/Thatyc?tab=repositories" target="_blank">
                <i class="bi bi-github"></i>
              </a>
            </p>
         </div>
      </div>
     </footer>