{# templates/bundles/EasyAdminBundle/layout.html.twig #}

{# DON'T DO THIS: it will cause an infinite loop #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<h1> Bienvenue au sein de l'administration de Quai_antique </h1>

{% endblock %}