{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{# ici tu dois juste inclure le form avec un include tu n'as pas a mettre les labels et les inputs #}
{% block body %}
{% include "partials/_header.html.twig" %}
{{ include('order/_form.html.twig') }}
{% include "partials/_footer.html.twig" %}
{% endblock %}

   {{ form_start (form) }}
   {{ form_row (form.nom)}}
   {{ form_end (form) }}
    
    <div class="row">
        <div class="col-md-7 mt-5 offset-md-3">
          <div class="mt-5 my-3">
            <form class="mt-3 p-lg-5">
              <div class="mb-2 text-center">
                <div class="panel" id="placesPanel"></div>
              </div>
            
              <h2 class="text-center mt-0">Réservez votre table</h2>
              <div class="mb-2">
                  <label class="fw-bold" for="nom">Votre nom</label>
                  <input type="text" class="form-control" id="nom">
              </div>
              <div class="mb-2">
                <label class="fw-bold" for="email">Votre mail</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="mb-1">
                <label class="fw-bold" for="phone">Votre numéro de téléphone</label>
                <input type="phone" class="form-control" id="phone">
              </div>
              <div class="mb-1">
                <label class="fw-bold" for="phone">Avez-vous des allergies ?</label>
                <input type="text" class="form-control" id="allergies">
              </div>
              <div class="mb-1">
                <label class="fw-bold" for="guesNumber">Nombre de couverts</label>
                <input type="number" class="form-control" id="guesNumber" value="1">
              </div>
              <div class="mb-2">
                <label class="fw-bold" for="date">Date</label><br>
		            <input type="date" name="date" id="date" required>
              </div>
              <div class="mb-0">
                <label class="fw-bold" for="heure">Choisissez l'heure de la réservation</label><br>
                <button class="btn btn-ls btn-heure m-2" name="submit" type="button" value="19:30_submit">19:30</button>
                <button class="btn btn-ls btn-heure m-2" name="submit" type="button" value="20:00_submit">20:00</button>
                <button class="btn btn-ls btn-heure m-2" name="submit" type="button" value="20:30_submit">20:30</button>
                <button class="btn btn-ls btn-heure m-2" name="submit" type="button" value="21:00_submit">21:00</button>
                <button class="btn btn-ls btn-heure m-2" name="submit" type="button" value="21:30_submit">21:30</button>
                <button class="btn btn-ls btn-heure m-2" name="submit" type="button" value="22:00_submit">22:00</button>
                <button class="btn btn-ls text-center btn-heure m-2" name="submit" type="button" value="22:30_submit">22:30</button>
              </div><br>
              <div class="text-center"><button type="submit" class="btn btn-gold px-4 mb-5">Réserver</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% include "partials/_footer.html.twig" %}
{% endblock %}
